<div class="container-fluid">
  <div>
    <br>
    <button type="button" class="btn btn-primary float-right" (click)="goToCreate()">Add holiday</button>
    <br>
  </div>
  <table class="table table-striped">
    <thead>
    <tr style="cursor: pointer">
      <th (click)="sortByNum()">{{showed.Number}}</th>
      <th (click)="sortByName()">{{showed.Name}}</th>
      <th (click)="sortBySurname()">{{showed.Surname}}</th>
      <th (click)="sortByDOS()">{{showed.DOS}}</th>
      <th (click)="sortByDOF()">{{showed.DOF}}</th>
    </tr>
    <tr style="cursor: pointer" (change)="doFilter()">
      <th><input type="text" [(ngModel)]="filter.Number"></th>
      <th><input type="text" [(ngModel)]="filter.Name"></th>
      <th><input type="text" [(ngModel)]="filter.Surname"></th>
      <th><input type="date" [(ngModel)]="filter.DOS" title="Show all dates after chosen"></th>
      <th><input type="date" [(ngModel)]="filter.DOF" title="Show all dates before chosen"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hol of sortedHoliday" style="cursor: pointer" (click)="goToEdit(hol.employee.id, hol.id)"
        [title]="'Press to edit'">
      <td>{{hol.employee.num}}</td>
      <td>{{hol.employee.name}}</td>
      <td>{{hol.employee.surname}}</td>
      <td>{{hol.start}}</td>
      <td>{{hol.finish}}</td>
    </tr>
    </tbody>
  </table>
</div>
