<div class="container-fluid">
  <div *ngIf="adminMode">
    <br>
    <button type="button" class="btn btn-primary float-right" [routerLink]="'/employee/new'">Add employee</button>
    <br>
  </div>
  <div *ngIf="!adminMode">
    <br>
    <button type="button" class="btn btn-primary float-right"  (click)="loadExcel()">Download excel report</button>
    <br>
  </div>
  <table class="table table-striped">
    <thead>
    <tr style="cursor: pointer">
      <th (click)="sortByNum()">{{showed.Number}}</th>
      <th (click)="sortByName()">{{showed.Name}}</th>
      <th (click)="sortByPatronim()">{{showed.Patronim}}</th>
      <th (click)="sortBySurname()">{{showed.Surname}}</th>
      <th (click)="sortByDOB()">{{showed.DOB}}</th>
      <th (click)="sortByPosition()">{{showed.Position}}</th>
      <th (click)="sortByDOS()">{{showed.DOS}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emp of sortedEmployee" (click)="goToEdit(emp.id)" style="cursor: pointer">
      <td>{{emp.num}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.patronim}}</td>
      <td>{{emp.surname}}</td>
      <td>{{emp.born}}</td>
      <td>{{emp.post}}</td>
      <td>{{emp.start}}</td>
    </tr>
    </tbody>
  </table>
</div>
