<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
      <h1 class="display-4 py-2 text-truncate">Login form</h1>
      <br>
      <form [formGroup]="form" class="justify-content-center">
        <div class="col">
          <div class="form-group">
            <label for="login">Login:</label>
            <input type="text"
                   formControlName="login"
                   class="form-control" id="login">
            <div *ngFor="let error of validationErrors.login">
                            <span *ngIf="form.get('login').hasError(error.type)
                                        && (form.get('login').dirty
                                        || form.get('login').touched)"
                                  class="validation">{{ error.message }}</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password"
                   formControlName="login"
                   class="form-control" id="password">
            <div *ngFor="let error of validationErrors.login">
                            <span *ngIf="form.get('password').hasError(error.type)
                                        && (form.get('password').dirty
                                        || form.get('password').touched)"
                                  class="validation">{{ error.message }}</span>
            </div>
          </div>
        </div>
        <button class="btn btn-primary"
                (click)="onSubmit()"

        >Sign in
        </button>
      </form>
    </div>
  </div>
</div>
